<li data-elemId="{{elem.id}}" data-type="{{elem.type}}">
    <div class="layer-ctrls-item-look {{#if elem.style.display}} {{elem.style.display}}{{else}} block{{/if}}"></div>
    <div class="layer-ctrls-item-txt">{{name}}</div>
</li>