<div class="ui-draggable controls-button" id="{{id}}" style="width:{{style.width}}px;height:{{style.height}}px;display:{{style.display}};left:{{style.left}}px;right:{{style.right}}px;top:{{style.top}}px;bottom:{{style.bottom}}px;z-index:{{style.zIndex}};">
    <em class="ui-resizable ui-resizable-top" data-type="top"></em>
    <em class="ui-resizable ui-resizable-left" data-type="left"></em>
    <em class="ui-resizable ui-resizable-bottom" data-type="bottom"></em>
    <em class="ui-resizable ui-resizable-right" data-type="right"></em>
    <em class="ui-resizable ui-resizable-nw" data-type="lefttop"></em>
    <em class="ui-resizable ui-resizable-ne" data-type="righttop"></em>
    <em class="ui-resizable ui-resizable-sw" data-type="leftbottom"></em>
    <em class="ui-resizable ui-resizable-se" data-type="rightbottom"></em>
    <div class="drag-ele" style="background-color:{{style.backgroundColor}};font-size:{{style.fontSize}};color:{{style.color}};borderRadius:{{style.borderRadius}}px;text-align:center;">
        按钮
    </div>
</div>